.imgflor {
 padding: 25px;
}
.flor2{
    background-color: #000;
}
.TextValor{
    padding: 25px;
}
.compra {
    color: #568900;
    background: #222111;
    }
.shopproduct{
    padding: 35px;
}
.foother{
    background-color: #000;
    height: 240px;
}